@model VidlyWeb.Models.Genre
@{
    ViewData["Title"] = "GenreForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Genre</h2>

@using (Html.BeginForm("Save", "Genres"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
   
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-danger" asp-action="Cancel" asp-controller="Genres">Cancel</button>
}